@model AppTeleton.Models.AltaPreguntaViewModel;

@{
    ViewData["Title"] = "Agregar Pregunta Frecuente";
}@{

    if (ViewBag.Mensaje != null)
    {
        if (ViewBag.TipoMensaje == "ERROR")
        {
            <div class="alert alert-danger" role="alert">@ViewBag.Mensaje</div>
        }
        else if (ViewBag.TipoMensaje == "EXITO")
        {
            <div class="alert alert-success" role="alert">@ViewBag.Mensaje</div>
        }

    }
}

<h2>Agregar Pregunta Frecuente</h2>

<form method="post" asp-action="Create" asp-controller="PreguntasFrecuentes">


    <label for="pregunta" class="form-label">Ingrese el cuerpo de la pregunta</label>
    <input type="text" class="form-control mb-3" id="pregunta" name="pregunta" required>

    <label>¿Quiere que esta pregunta se muestre en el tótem de recepción?(Si/No)</label>
    <input type="checkbox" data-val="true"  id="IsChecked" name="paraTotem" value="true">
    <input name="paraTotem" type="hidden" value="false"><br>

    <label for="isChecked">¿Crear nueva categoría?(Si/No)</label>
    <input type="checkbox" name="isChecked" id="checkboxNuevaCategoria"/>


    <div id="divCategoriaExistente">

        <label>Seleccione una categoria</label>
        <select id="selectCategoria" name="categoriaSeleccionada">
            <option value="noSeleccionado" selected></option>

            @if (Model != null && Model.Categorias.Count() > 0)
            {
                foreach (var c in Model.Categorias)
                {
                    <option categoria-descripcion ="@c.Descripcion" categoria-respuesta="@c.Respuesta" value="@c.Categoria">@c.Categoria</option>
                }
            }
        </select>

        
        <p type="text" id="descripcionCategoria"></input>

    </div>

    <div id="divCategoriaNueva">
        <label for="txtNuevaCategoria">Ingrese el nombre de la nueva categoría</label>
        <input name="categoriaNueva" type="text" id="txtNuevaCat">
        <label for="txtNuevaCategoria">Ingrese la descripción de la nueva categoría</label>
        <input name="categoriaNuevaDescripcion" type="text" id="txtNuevaCatDesc">
    </div>

    

    <label for="respuesta" class="form-label">Respuesta: </label>
    <textarea class="form-control mb-3" id="txtRespuesta" name="respuesta" rows="5"></textarea>
   

    <button type="submit" class="btn btn-danger">Agregar</button>
</form>



<script src="~/js/AltaPreguntaFrecuente.js"></script>

   