@model AppTeleton.Models.PreguntasFrecViewModel

@{
    ViewData["Title"] = "Preguntas Frecuentes";
}
@{

    if (ViewBag.Mensaje != null)
    {
        if (ViewBag.TipoMensaje == "ERROR")
        {
            <div class="alert alert-danger" role="alert">@ViewBag.Mensaje</div>
        }
        else if (ViewBag.TipoMensaje == "EXITO")
        {
            <div class="alert alert-success" role="alert">@ViewBag.Mensaje</div>
        }

    }
}


<body>
  
    <main role="main" class="main-content">
        <h1>Preguntas Frecuentes</h1>
        <p><a href="@Url.Action("Create")" class="btn btn-danger">Agregar</a></p>
        <table class="table table-bordered tablaPreguntasFrec">
            <thead class="thead-dark">
                <tr>
                    <th>Pregunta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PreguntasFrec)
                {
                    <tr>
                        <td>@item.Pregunta</td>
                        <td>

                            <a href="@Url.Action("Detalle", new { id = item.Id })">Detalles</a>
                            <a href="@Url.Action("Delete", new { id = item.Id })" >Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</body>
