@model IEnumerable<LogicaNegocio.Entidades.Paciente>

@{
    ViewData["Title"] = "EnviarAvisos";
}@{

    if (ViewBag.Mensaje != null)
    {
        if (ViewBag.TipoMensaje == "ERROR")
        {
                <div class="alert alert-danger" role="alert">@ViewBag.Mensaje</div>
        }
        else if (ViewBag.TipoMensaje == "EXITO")
        {
                <div class="alert alert-success" role="alert">@ViewBag.Mensaje</div>
        }

    }
}

<div class="alert alert-info" role="alert">


    @if (!ViewBag.RecordatoriosEncendidos)
    {
        <p>  Los recordatorios automáticos a los pacientes NO están encendidos </p>
    }
    else
    {
        <p>  Los recordatorios automáticos a los pacientes están encendidos y se envían con @ViewBag.RecordatorioAntelacion días de antelación a la cita agendada</p>
    }
   
     <form  asp-action="ConfigurarRecordatorios" asp-controller="Notificacion" method="get">
        <input type="submit" value="Configurar Recordatorios" class="btn btn-danger">
    </form>

</div>

<h1 style="text-align:center;">Enviar Avisos</h1>

    <form id="formularioNotificacion" asp-action="SendPacientes" asp-controller="Notificacion" method="post" class="row">


    <div class="col-12 col-md-5">
        <h3 style="text-align:center;" class="mt-4">Notificación</h3>
        <label for="nombre">Titulo</label>
        <input id="tituloNotificacion" name="titulo" class="form-control mb-3" type="text" placeholder="Ingrese titulo de la notificación" required>
        <label for="nombre">Mensaje</label>
        <input id="mensajeNotificacion" name="mensaje" class="form-control mb-3" type="text" placeholder="Ingrese mensaje de la notificación" required>
        <button class="btn btn-danger btn-block" type="submit">Enviar</button>
    
        </div>
    <scroll-container class="col-12 col-md-7 listadoUsuariosAvisos">
        <h3 style="text-align:center;" class="mt-4">Seleccione Pacientes</h3>
<table class="table">
            
  
    <thead>
        <tr>
            <th><input type="checkbox" id="selectAll" /> Todos</th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

             <td>
            <input type="checkbox" name="seleccionados" value="@item.Id" class="user-checkbox" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            
        </tr>
}
    </tbody>
</table>
    </scroll-container>
    </form>

</div>


<script>
    document.getElementById('selectAll').addEventListener('change', function (e) {
        const checkboxes = document.querySelectorAll('.user-checkbox');
        checkboxes.forEach(checkbox => checkbox.checked = e.target.checked);
    });
</script>